:root {
  /* font */
  --pyeongChang-bold: "PyeongChang-Bold";
  --KyoboHand: "KyoboHand";
}
html,
body {
  height: 100%;
}
header {
  width: 100%;
  height: 135px;
  position: absolute;
  top: 0%;
  z-index: 10;
}
section {
  width: 100%;
  height: auto;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
section > .container {
  padding: 136px 48px 80px 48px;
}
.logo {
  text-align: center;
  font-size: 46.2px;
  font-weight: bold;
  color: #2666bc;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1076px;
  padding: 0px 48px;
  background-color: #eff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* monitor_img */
.monitor_img {
  /* display: none; */
}
.monitor_con {
  /* background-color: #f2f2f2; */
}
.monitor_img_title {
  text-align: center;
}
.monitor_img_title_h {
  width: 311px;
  color: #1d1d1d;
  margin-bottom: 12px;
}
.monitor_img_title_p {
  font-size: 14.7px;
  font-weight: bold;
  color: #2666bc;
  font-family: var(--pyeongChang-bold);
}
.gender {
  margin: 37px 0 34px 0;
}
.gender_title_h {
  color: #2666bc;
  font-size: 21.5px;
  font-family: var(--pyeongChang-bold);
  font-weight: bold;
  margin-bottom: 20px;
}
.gender_btnswrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gender_btn {
  margin: 0 13px;
  width: 65px;
  height: 29px;
  border-radius: 65px;
  background-color: #2666bc;
  position: relative;
}
.gender_btn_toggle {
  width: 23px;
  height: 23px;
  background-color: #ffff;
  border-radius: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(5px, -50%);
  transition: transform 0.1s;
  cursor: pointer;
}
.gender_btn_toggle.active {
  transform: translate(-29px, -50%);
}
.gender_img {
  width: 15px;
}
.gender_img.active {
  filter: grayscale(1);
}
.monitor_img_content form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#upImg {
  display: none;
}
.uploadImg {
  width: 431px;
  cursor: pointer;
}

.upImgText {
  margin: 50px 0;
  text-align: center;
  display: none;
  font-size: 18px;
  font-family: var(--pyeongChang-bold);
}
.upBtn {
  outline: 0;
  opacity: 0;
  transition: all 0.3s;
  border: 0;
  cursor: pointer;
  padding: 10px 30px;
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgb(153, 218, 218);
}
.upBtn span {
  margin-top: 5px;
  font-size: 20px;
}

.monitor_share {
  margin-top: 40px;
}
.kakaoShareBtn {
  cursor: pointer;
}
.monitor_share_title {
  width: 243px;
  height: 23px;
  display: flex;
  align-items: center;
  background-color: #2666bc;
  border-radius: 10px;
  justify-content: center;
}
.monitor_share_title_h {
  font-size: 15px;
  color: #fff;
  font-family: var(--pyeongChang-bold);
}
.monitor_share_sns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 22px;
}
.monitor_share_list {
  width: 36px;
  height: 36px;
}
/* result */

.result {
  height: auto;
  flex-direction: column;
  display: none;
  opacity: 0;
}
.result_con {
  padding: 160px 48px 48px 48px;
}
.result_imgwrap {
  width: 356px;
  margin-bottom: 32px;
}
.result_title_h {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #2666bc;
  margin-bottom: 44px;
}
.result_title_p {
  font-size: 21.4px;
  text-align: center;
  font-weight: bold;
  color: #2666bc;
  margin-bottom: 25px;
}
.result_title_p3 {
  width: 100%;
  margin: 0 auto;
  max-width: 383px;
  font-size: 15px;
  line-height: 1.33;
  color: #2666bc;
  font-family: var(--KyoboHand);
}
#label-container {
  width: 100%;
  width: 350px;

  padding: 37px 0;
  background-color: #fff;
}
.label_class {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.pointDiv {
  height: 11px;
  background-color: #2666bc;
  opacity: 0.6;
}
.label_class:nth-child(1) .pointDiv {
  background-color: #2666bc;
  opacity: 1;
}

.pointText,
.pointNub {
  color: #2666bc;
}
.pointText {
  width: 30%;
  max-width: 100px;
}
.pointNub {
  text-align: center;
}
.result_btns {
  display: flex;
  width: 400px;
  gap: 32px;
}

.result_btn {
  padding: 12px 19px;
  outline: 0;
  border: 0;
  border-radius: 17.6px;
  background-color: #2666bc;
  flex: 1;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.result_btn_link {
  font-size: 16px;
  color: #fff;
  font-family: var(--pyeongChang-bold);
}
.result_con2 {
  padding: 48px;
}
.combi {
  margin-top: 100px;
  display: flex;
  gap: 30px;
}
.combi_inner {
  flex: 1;
  max-width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.combi_inner_type {
  width: 138px;
  height: 31px;
  background-color: #2666bc;
  border-radius: 15.5px;
  display: flex;
  align-items: center;
  font-family: var(--pyeongChang-bold);
  justify-content: center;
  color: #fff;
  margin-top: 15px;
}

@media all and (max-width: 979px) {
  section > .container {
    padding-right: 24px;
    padding-left: 24px;
  }
  .container {
    padding: 0 24px;
  }
  .logo {
    font-size: clamp(28px, 7.5vw, 46.2px);
  }
  .uploadImg {
    max-width: 330px;
  }
  #label-container {
    padding: 24px;
  }
  section .result_con2 {
    padding: 48px 24px 80px 24px;
  }
  .combi {
    margin-top: 50px;
  }
  .result_con {
    padding: 160px 24px 48px 24px;
  }
}

@media all and (max-width: 640px) {
  .result_btns {
    width: 100%;
    flex-direction: column;
  }
}
